---
networks:
  castopod:
  traefik_default:
    external: true
services:
  app:
    depends_on:
      - mariadb
      - redis
    environment:
      MYSQL_DATABASE: castopod
      MYSQL_USER: castopod
      MYSQL_PASSWORD: castopod
      CP_BASEURL: "https://{{ deploy_castopod_hostname }}"
      CP_ANALYTICS_SALT: {{ deploy_castopod_cp_analytic_salt }}
      CP_CACHE_HANDLER: redis
      CP_REDIS_HOST: redis
    image: "castopod/castopod:{{ deploy_castopod_version }}"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.docker.network: traefik_default
      traefik.enable: true
      traefik.http.routers.castopod.entrypoints: websecure
      traefik.http.routers.castopod.rule: Host(`{{ deploy_castopod_hostname }}`)
      traefik.http.routers.castopod.service: castopod
      traefik.http.routers.castopod.tls: true
      traefik.http.routers.castopod.tls.certresolver: le
      traefik.http.services.castopod.loadbalancer.server.port: 8000
    logging:
      driver: "json-file"
      options:
        max-file: "3"
        max-size: "1m"
    networks:
      - traefik_default
      - castopod
    restart: always
    volumes:
      - /opt/castopod/castopod-media:/var/www/castopod/public/media
  mariadb:
    image: mariadb:10.5
    environment:
      MYSQL_ROOT_PASSWORD: castopod
      MYSQL_DATABASE: castopod
      MYSQL_USER: castopod
      MYSQL_PASSWORD: castopod
    labels:
      com.centurylinklabs.watchtower.enable: true
    logging:
      driver: "json-file"
      options:
        max-file: "3"
        max-size: "1m"
    networks:
      - castopod
    restart: always
    volumes:
      - /opt/castopod/castopod-db:/var/lib/mysql
  redis:
    image: redis:7.0-alpine
    volumes:
      - /opt/castopod/castopod-cache:/data
    labels:
      com.centurylinklabs.watchtower.enable: true
    logging:
      driver: "json-file"
      options:
        max-file: "3"
        max-size: "1m"
    networks:
      - castopod
    restart: always
version: "3"
